/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; test*/

:root {
	--main-text-color: #212121;
	--secondary-text-color: #fff;
	--owner-text-color: #757575;
	--accent-color: #2196f3;
	--contener-color: #eeeeee;
	--logo-color-text: #000;
	--buttons-port-color: #f5f4fa;
	--footer-text-color: rgba(255, 255, 255, 0.6);
	--background-footer-color: #2f303a;
	--background-section: #e5e5e5;
	--line-color: #ececec;
	--backround-color: #fff;
	--icon-color: #afb1b8;
	--main-font: "Roboto", sans-serif;
}

body {
	background-color: var(--backround-color);
	color: var(--main-text-color);
	font-family: var(--main-font);
	font-size: 14px;
	letter-spacing: 0.03em;
}

.logo {
	font-family: "Raleway", sans-serif;
	font-size: 26px;
	line-height: 1.1738;
	font-weight: 700;
	color: var(--logo-color-text);
}
.logo_first_word {
	color: #2196f3;
}
.logo_second_word_footer {
	color: rgba(255, 255, 255, 1);
}
.logo_second_word_footer:hover {
	color: var(--accent-color);
}

.menu {
	font-size: 14px;
	line-height: 1.1721;
	font-weight: 500;
	color: var(--main-text-color); /*- zalecenie Ivana - ale chyba jednak nie?*/
}

.current {
	color: var(--accent-color);
}

.address_top_email {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--owner-text-color);
}
.address_top_tel {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--owner-text-color);
}

a {
	text-decoration: none;
}

.button_page1 {
	background-color: #2196f3;
	color: #ffffff;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.06em;
	cursor: pointer;
	font-family: inherit;
}
.button_page1:hover {
	color: #000;
}

.text_on_banner_page1 {
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 1);
}

header a:hover,
footer a:hover,
menu:hover {
	color: var(--accent-color);
}

.buttons {
	cursor: pointer;
	font-family: inherit;
	font-size: 16px;
	line-height: 1.625;
	font-weight: 500;
	background-color: var(--buttons-port-color);
	letter-spacing: 0.03em;
	color: var(--main-text-color);
}
.buttons:hover {
	background-color: #2196f3;
	color: #fff;
}
.buttons_current {
	background-color: #2196f3;
	color: #fff;
}

ul {
	list-style-type: none;
}
.image_title {
	font-size: 18px;
	line-height: 2;
	font-weight: 700;
	letter-spacing: 0.06em;
}
.image_description {
	font-size: 16px;
	line-height: 1.875;
	font-weight: 400;
	color: #757575;
}
.footer-address {
	font-weight: 400;
	line-height: 1.71;
	color: #fff;
}
.footer-delete-italic {
	font-style: normal;
	/* usuwam domyślny styl ITALIC dla <address> */
}
.footer-background {
	background-color: var(--background-footer-color);
}

.footer_mail_tel {
	color: rgba(255, 255, 255, 0.6);
	line-height: 1.71;
	font-weight: 400;
}
.light_background {
	background-color: var(--background-section);
}
.dark_background {
	background-color: var(--background-footer-color);
}
.team_background {
	background-color: var(--buttons-port-color);
}

.lorem-style {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}
.lorem-text {
	line-height: 1.71;
	color: #757575;
}
.section-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	text-align: center;
	letter-spacing: 0.03em;
	color: #212121;
}
.name {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.18;
	text-align: center;
	letter-spacing: 0.03em;
}
.description {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.18;
	text-align: center;
	letter-spacing: 0.03em;
	color: #757575;
}
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
